services:
  flask-app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis-db

  redis-db:
    image: "redis:alpine"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
